@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Sans+3:wght@400;600;700&display=swap');

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/futura-bold-webfont.woff2') format('woff2'),
       url('/fonts/futura/futura-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/futura-book-webfont.woff2') format('woff2'),
       url('/fonts/futura/futura-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .nav-hover-btn {
    @apply relative ms-10 uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-secondary after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .bg-custom-gradient {
    background: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0, 78, 194) 100%);
  }

  .bg-firsttee-gradient {
    background: linear-gradient(0deg, rgba(20, 2, 31, 0.5), #2C5A7C 100%);
  }

  .floating-nav {
    @apply bg-custom-gradient;
  }

  .bg-openup-gradient {
    background: linear-gradient(0deg, rgba(20, 2, 31, 0.5), rgba(166, 25, 248, 1));
  }

  .bg-insdr-gradient {
    background: linear-gradient(0deg, rgba(20, 2, 31, 0.5), rgb(41, 196, 188));
  }

  .bg-full-gradient {
    background: linear-gradient(0deg, rgba(20, 2, 31, 0.5), rgb(20, 1, 31));
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1a1a1a;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  overflow-y: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #101010;
}

html {
  /* margin: 0; */
  overscroll-behavior-y: none;
}



